<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img :src="currentUser.avatar.url" alt=""/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>{{currentUser.first_name + ' ' + currentUser.last_name}}</h5>
          <p class="proile-rating">RANKINGS : <span>8/10</span></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <router-link :to="{ name: 'editUserProfile', params: { username: currentUser.username }}" class="btn btn-primary">Edit Profile</router-link>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>SOCIAL LINKS</p>
          <a :href="currentUser.facebook_url"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'facebook'}" size='2x'/></a><br/>
          <a :href="currentUser.twitter_url"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'twitter'}" size='2x'/></a><br/>
          <a :href="currentUser.linked_in_url"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'linkedin'}" size='2x'/></a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                  <label>Username</label>
              </div>
              <div class="col-md-6">
                  <p>{{currentUser.username}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <label>Name</label>
              </div>
              <div class="col-md-6">
                  <p>{{currentUser.first_name + ' ' + currentUser.last_name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <label>Email</label>
              </div>
              <div class="col-md-6">
                  <p>{{currentUser.email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <label>Phone</label>
              </div>
              <div class="col-md-6">
                  <p>{{currentUser.phone_number}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <label>Hourly Rate</label>
              </div>
              <div class="col-md-6">
                  <p>{{currentUser.hourly_rate}}</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Joined</label>
              </div>
              <div class="col-md-6">
                  <p>{{currentUser.created_at}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Total Rides</label>
              </div>
              <div class="col-md-6">
                  <p>{{currentUser.rides_count}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <label>Availability</label>
              </div>
              <div class="col-md-6">
                <p>6 months</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>           
</div>