<div class="container padding">
  <form @submit.prevent="onSubmit" class="form-inline">
    <input 
      type="text"
      class="form-control mb-5 mr-sm-5"
      id="inlineFormInputName2"
      placeholder="Start Address"
      v-model="start_address">
    <input 
      type="text" 
      class="form-control mb-5 mr-sm-5" 
      id="inlineFormInputName2" 
      placeholder="Destination Address"
      v-model="destination_address">
    <input 
      type="number"
      step="0.1"
      class="form-control mb-5 mr-sm-5" 
      id="inlineFormInputName2" 
      placeholder="Price"
      v-model="price_cents">
    <datepicker
      class="form-control mb-5 mr-sm-5" 
      id="datepicker"
      placeholder="Select a date"
      v-model="date" />
    <button type="submit" class="btn btn-primary mb-5">Submit</button>
  </form>
</div>