<div class="main container">
  <div class="header">
    <h4 id="heading"></h4>
    <button @click="toggleButton" type="button" class="newRideBtn">{{ btnText }}</button>
  </div>
  <RideForm v-show="clicked"></RideForm>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">    
        <table id="mytable" class="table table-bordred table-striped">    
          <thead>
            <th>Start Address</th>
            <th>Destination Address</th>
            <th>Distance</th>
            <th>Price</th>
            <th>Date</th>
          </thead>
          <tbody>
            <tr v-for="(ride, index) in userRides" :key="ride.id">
              <td >{{ ride.start_address }}</td>
              <td >{{ ride.destination_address }}</td>
              <td >{{ ride.distance }}</td>
              <td >{{ ride.price }}</td>
              <td >{{ ride.date }}</td>
              <td><font-awesome-icon icon="trash" @click="deleteRide(index, ride.id)" class="trash-icon"/></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>